header {
    display: flex;
    justify-content: center;
}

.header__container {
    height: 98px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.nav-item:nth-child(n+2) {
    margin-right: 8px;
}

.nav-item {
    list-style-type: none;
}

.nav-item a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A2A2A;
}

.nav-item:nth-child(1) {
    border-bottom: 2px solid #B20A09
}

@media (max-width:1100px) {
    .header__container {
        width: 94%;
    }
    .logo-header{
        width: 68%;
    }
    .header__nav ul {
        gap: 15px;
    }

    .nav-item:nth-child(n+2) {
        margin-right: 4px;
    }
}


/* FOOTER */
footer {
    margin-top: 134px;
    background: #2A2A2A;
    display: flex;
    justify-content: center;
    padding: 114px 0;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.footer__nav a {
    text-decoration: none;
    color: #fff;
}

.footer-nav-item {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-top: 15px;
    list-style: none;
}

.footer__contact {
    color: #fff;
}

.contact-item {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-top: 15px;
    list-style: none;
}

.social-networks {
    margin-top: 20px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}