/* Header */
header {
    display: flex;
    justify-content: center;
}

.header__container {
    height: 98px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.nav-item:nth-child(n+2) {
    margin-right: 8px;
}

.nav-item {
    list-style-type: none;
}

.nav-item a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A2A2A;
}

.nav-item:nth-child(1) {
    border-bottom: 2px solid #B20A09
}

/* burgerMenu */
.body__scroll-off {
    overflow: hidden;
}

.burger__btn {
    display: none;
}

.menu__icon {
    display: none;
}

.logo__nav {
    display: none;
}

/* INTRO */
#intro {
    background: #B20A09;
    transform: rotate(180deg);
    clip-path: polygon(75% 0, 100% 15%, 100% 100%, 0 100%, 0 22%);

}

.intro-background {
    padding: 684px 0 0;
}

.intro__container {
    background: #2A2A2A;
    z-index: 0;
    position: absolute;
    top: 36px;
    width: 100%;
    right: 0;
    clip-path: polygon(75% 0, 100% 10%, 100% 100%, 0 100%, 0 17%);
}

.title-container {
    position: absolute;
    bottom: 0;
    padding: 114px 124px;
    right: 0;
    transform: rotate(180deg);
    width: 68%;
    flex-direction: column;
    color: #FFFFFF;
    z-index: 3;
}

.intro-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 52px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.intro-btn {
    background: none;
    border: 1px solid #fff;
    font-weight: 600;
    margin-top: 83px;
    padding: 20px 38px;
    font-size: 20px;
    color: #FFFFFF;
}

.intro-bg {
    transform: rotate(180deg);
    width: 60%;
}

.intro-bg img {
    width: 100%;
    height: 648px;
}

/* service section */
#ourService {
    text-align: center;
    margin-top: -8px;
    padding: 0 40px;
}

.section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 170%;
    color: #2A2A2A;
}

.title__underline {
    height: 2px;
    margin-top: 8px;
    width: 124px;
    background: #FFD700;
}

.service-cards {
    margin-top: 70px;
    gap: 36px;
    justify-content: center;
    margin: 80 auto;
    display: flex;
}

.card {
    padding: 20px 20px 0;
    border: none;
    box-shadow: 0 0 10px 2px rgba(221, 221, 221, 1);
    border: 1px solid rgba(241, 188, 4, 0.4)
}

.card-bg {
    background: url(../assets/img/bg-card.png) no-repeat;
    background-size: 100% 100%;
}

.card-header {
    display: flex;
    justify-content: flex-start;
    background: #fff;
    border-bottom: none;
}

.card-body {
    text-align: left;
}

.card-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
    line-height: 170%;
    color: #B20A09;
}

.card-body:nth-child(1) .card-title {
    color: #fff;
    margin-top: 40px;
}

.card-body:nth-child(1) .card-text {
    color: #fff;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #2A2A2A;
}

/* Section category */
#category {
    margin: 40px 0 100px;
}

.section__background {
    width: 100%;
    background: url(../assets/img/category-bg.png) no-repeat;
    position: relative;
    padding: 224px 0 0;
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
}

.category__container {
    background: #FFD700CC;
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    clip-path: polygon(77% 15%, 100% 12%, 100% 100%, 0 100%, 0 0);
}

.container__title {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.category__title {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 41px;
}

.category__context {
    margin-top: 28px;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    width: 30%;
}

.category__cards {
    margin-top: 28px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.track-card {
    background: #fff;
    width: 25rem;
}

.card-img-top {
    width: 100%;
}

.track-card-body {
    padding: 14px 226px 46px 30px;
}

.tracks__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: #056088;
}

.tracks-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A2A2A;
}

.track-btn {
    margin: 36px 0;
    border-radius: 0;
    background: #B20A09;
    padding: 18px 32px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
}

.more-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.more-line {
    height: 2px;
    width: 50%;
    background: #fff;
}

.moreBtn {
    margin: 20px 130px 50px 0;
    border: 1px solid #fff;
    background: none;
    padding: 20px 58px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}


/* FeedBack */

#feedback {
    background: url(../assets/img/fedback-bg.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    padding: 103px 0;
    justify-content: center;
}

.feedback__container {
    background: #F1BC0480;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 52px 30px;

}

.feedback__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 170%;
    color: #FFFFFF;
}

.feedback_form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-input {
    width: 48.8%;
    padding-left: 22px;
    height: 60px;
}

.form-input:nth-child(1) {
    margin-right: 14px;
}

.form-input::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: rgba(0, 0, 0, 0.25);
}


.form-textarea {
    padding: 14px 0 0 22px;
    margin: 20px 0;
    width: 100%;
}

.form-textarea::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: rgba(0, 0, 0, 0.25);
}

.sendBtn {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    height: 72px;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    width: 30%;
}


/* FOOTER */

footer {
    margin-top: 134px;
    background: #2A2A2A;
    display: flex;
    justify-content: center;
    padding: 114px 0;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.footer__nav a {
    text-decoration: none;
    color: #fff;
}

.footer-nav-item {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-top: 15px;
    list-style: none;
}

.footer__contact {
    color: #fff;
}

.contact-item {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-top: 15px;
    list-style: none;
}

.social-networks {
    margin-top: 20px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Adaptation */
@media (max-width:1240px) {
    #category {
        margin: 30px 0 50px;
    }

    .section__background {
        padding: 284px 0 0;
    }

    .category__container {
        top: 4px;
    }
}

@media (max-width:1175px) {
    .feedback__container {
        align-items: center;
    }

    .form-input {
        width: 40.8%;
        padding-left: 22px;
    }

    .inputs {
        display: flex;
        justify-content: center;
    }

    .textarea {
        display: flex;
        justify-content: center;
    }

    .form-textarea {
        width: 84%;
    }
}

@media (max-width:1100px) {

    /* header */
    .header__container {
        width: 94%;
    }

    .logo-header {
        width: 68%;
    }

    .header__nav ul {
        gap: 15px;
    }

    .nav-item:nth-child(n+2) {
        margin-right: 4px;
    }

    /* 3rd section */
    #ourService {
        padding: 0 20px;
    }

    .service-cards {
        margin-top: 70px;
        gap: 8px;
        margin: 40px auto;
    }

    .card {
        padding: 20px 20px 0;
    }

    .card-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .card-body:nth-child(1) .card-text {
        color: #fff;
    }

    .card-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
    }
}

@media (max-width:1020px) {
    .title-container {
        padding: 72px 40px 60px;
    }
}

@media (max-width:920px) {
    .title-container {
        width: 80%;
    }

    .intro-title {
        font-size: 46px;
        font-weight: 700;
        line-height: 68px;
    }

    .intro-btn {
        margin-top: 74px;
    }

    .section__background {
        padding: 444px 15px 0;
    }

    #feedback {
        padding: 80px 0;
    }

    .inputs {
        flex-direction: column;
        gap: 16px;
    }

    .form-input {
        width: 100%;
    }

    .form-textarea {
        width: 100%;
    }

    .sendBtn {
        width: 100%;
    }

    footer {
        margin-top: 90px;
    }

    .social-networks {
        margin: 20px 0 0 30px;
    }
}

@media(max-width: 865px) {
    .header__nav {
        position: fixed;
        top: 0;
        z-index: 1;

        right: -100%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255);
        transition: all 0.7s ease 0s;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
    }

    .logo__nav {
        display: block;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .logo__nav img {
        width: 70%;
    }

    .menu__icon {
        z-index: 1;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .burger__btn {
        display: block;
        border-radius: 50%;
        padding: 16px;
        background-color: #ffffff;
    }

    .burger__btn:hover {
        padding: 16px;
        border-radius: 50%;
        background-color: #E5E5E5;
    }

    .burger__btn:focus {
        outline: 2px solid #5AB0FF;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .navbar__ul {
        display: flex;
        flex-direction: column;
    }

    .nav-item {
        padding-bottom: 18px;
    }

    .header__nav::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }

    .header__nav._active {
        right: 0;
    }

    /* 3d section */
    #ourService {
        padding: 0 15px;
    }

    .service-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        padding: 20px 20px 20px;
    }

    .section__background {
        padding: 134px 0 0;
        background-size: 100% 100%;
    }

    .more-container {
        justify-content: center;
    }

    .category__container {
        bottom: 200px;
    }

    .category__cards {
        gap: 14px;
    }

    .track-card {
        width: 14rem;
    }

    .track-card-body {
        padding: 5px 95px 5px 15px;
    }

    .tracks__title {
        width: 100%;
        font-size: 18px;
        line-height: 38px;
    }

    .more-container {
        gap: 10px;
    }

    .more-line {
        display: none;
    }

    .moreBtn {
        margin: 20px 0 50px 0;
    }

    .category__context {
        width: 80%;
    }
}

@media (max-width: 680px) {
    .section__background {
        padding: 274px 0 0;
    }
}

@media (max-width:620px) {
    #feedback {
        background-size: 120% 100%;
    }

    .feedback__container {
        width: 76%;
        padding: 40px 30px;
    }
}

@media (max-width:550px) {
    .intro__container {
        position: static;
    }

    .intro-background {
        padding: 34px 0 0;
    }

    .title-container {
        padding: 82px 30px 0;
    }

    .intro-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 58px;
    }

    .intro-btn {
        margin-top: 74px;
        font-size: 16px;
        padding: 14px 34px;
    }

    .intro-bg img {
        width: 100%;
        height: 448px;
    }

    .section__background {
        background-size: 130% 100%;
    }

    .category__container {
        bottom: 290px;
    }

    #feedback {
        background-size: 140% 100%;
    }
}

@media (max-width: 450px) {
    .section__background {
        background-size: 180% 100%;
    }

    .category__container {
        bottom: 790px;
    }

    .tracks__title {
        font-size: 20px;
    }

    .track-btn {
        margin: 20px 0;
        border-radius: 0;
        background: #B20A09;
        padding: 8px 26px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 27px;
    }
}

@media (max-width:400px) {
    .intro-title {
        font-size: 28px;
        line-height: 42px;
    }

    .intro-btn {
        margin-top: 68px;
        padding: 10px 32px;
    }

    #feedback {
        background-size: 200% 100%;
    }

    .feedback__title {
        font-size: 18px;
    }

    .form-input {
        height: 46px;
    }

    .form-input::placeholder {
        font-size: 14px;
    }

    .form-textarea::placeholder {
        font-size: 14px;
    }
}