@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat&family=Poppins&family=Raleway&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat';
}

header {
    display: flex;
    justify-content: center;
}

.header__container {
    height: 98px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.nav-item:nth-child(n+2) {
    margin-right: 8px;
}

.nav-item {
    list-style-type: none;
}

.nav-item a {
    font-family: Poppins, sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A2A2A;
}

.nav-item:nth-child(3) {
    border-bottom: 2px solid #B20A09
}

@media (max-width:1100px) {
    .header__container {
        width: 94%;
    }

    .logo-header {
        width: 68%;
    }

    .header__nav ul {
        gap: 15px;
    }

    .nav-item:nth-child(n+2) {
        margin-right: 4px;
    }
}

/* burgerMenu */
.body__scroll-off {
    overflow: hidden;
}

.burger__btn {
    display: none;
}

.menu__icon {
    display: none;
}

.logo__nav {
    display: none;
}

/* Intro */

#intro {
    background: #FFD700;
    transform: rotate(180deg);
    clip-path: polygon(75% 0, 100% 15%, 100% 100%, 0 100%, 0 22%);

}

.intro-background {
    padding: 684px 0 0;
}

.intro__container {
    background: #2A2A2A;
    z-index: 0;
    position: absolute;
    top: 36px;
    width: 100%;
    right: 0;
    clip-path: polygon(75% 0, 100% 10%, 100% 100%, 0 100%, 0 17%);
}

.title-container {
    position: absolute;
    bottom: 200px;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    padding: 92px 90px;
    transform: rotate(180deg);
    width: 100%;
    color: #FFFFFF;
    z-index: 3;
}

.intro-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 52px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.intro-btn {
    background: none;
    border: 1px solid #fff;
    font-weight: 600;
    margin-top: 83px;
    padding: 20px 38px;
    font-size: 20px;
    color: #FFFFFF;
}

.intro-bg {
    transform: rotate(180deg);
    width: 60%;
}

.intro-bg img {
    width: 100%;
    height: 648px;
}

/* BreadCrumbs */
#breadcrumbs {
    margin: 38px 80px 112px;
}

.breadcrumb__container {
    padding-left: 190px;
    width: 100%;
    display: flex;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    align-items: center;
}

.crumb {
    list-style-type: none;
}

.crumb-f {
    list-style-type: none;
}

.crumb-f a {
    font-weight: 700;
    font-size: 20px;
    color: #000;
    line-height: 170%;
    text-decoration: none;
}

.crumb a {
    font-weight: 700;
    font-size: 20px;
    color: #2A2A2A;
    line-height: 170%;
    text-decoration: none;
}

.arrow {
    margin-left: 16px;
}

.active {
    font-weight: 700;
    font-size: 20px;
    line-height: 170%;
    color: #B20A09;
}

/* Content -section */
#content {
    padding: 0 58px 0 42px;
}

.content__container {
    display: flex;
    gap: 34px;
}

.about__section {
    background: #2A2A2A;
    box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.25);
    display: flex;
    min-width: 28%;
    flex-direction: column;
    color: #fff;
    gap: 44px;
    padding: 60px 22px 44px 22px;
    align-items: center;
}

.about__section-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    align-items: center;
}

.all-content {
    text-align: left;
}

.active-content {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FFD700;
}

.text-content {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;

}

.content__title-block {
    background: url(../assets/img/bg-content.png) no-repeat;
    background-size: 100% 100%;
    padding: 0 10px;
    align-items: center;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    color: #fff;
    display: flex;
    height: 290px;
}

.title__text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
}

.content-cards {
    margin-top: 86px;
    text-align: center;
}

.section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 170%;
    color: #2A2A2A;
}

.line {
    margin-top: 8px;
    height: 2px;
    width: 28%;
    background: #FFD700;
}

.cards {
    margin-top: 94px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.content-card {
    border: 1px solid rgba(241, 188, 4, 0.4);
    width: 31%;
    height: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    color: #2A2A2A;
}

.card-active-text {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    color: #B20A09;
}

.diagnostik {
    margin-top: 174px;
    background: #B20A09;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    padding: 14px 66px;
    line-height: 170%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

#faq {
    margin-top: 346px;
    background: url(../assets/img/faq-bg.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 102px 256px;
}

.faq__container {
    padding: 42px 10px;
    background: rgba(241, 188, 4, 0.5);
}

.faq__title {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.accordion {
    text-align: left;
}

.faq-question {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 260%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    justify-content: space-between;
    color: #FFFFFF;
}

.faq-answer {
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    padding: 8px 14px;
    border: 1px solid #fff;
}

/* Footer */

footer {
    margin-top: 210px;
    background: #2A2A2A;
    display: flex;
    justify-content: center;
    padding: 114px 0;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.footer__nav a {
    text-decoration: none;
    color: #fff;
}

.footer-nav-item {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-top: 15px;
    list-style: none;
}

.footer__contact {
    color: #fff;
}

.contact-item {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-top: 15px;
    list-style: none;
}

.social-networks {
    margin-top: 20px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Adaptation */

@media (max-width:1100px) {

    /* header */
    .header__container {
        width: 94%;
    }

    .logo-header {
        width: 68%;
    }

    .header__nav ul {
        gap: 15px;
    }

    .nav-item:nth-child(n+2) {
        margin-right: 4px;
    }

    .content-cards {
        margin-top: 70px;
        gap: 8px;
        margin: 40px auto;
    }

    .track-card {
        padding: 20px 20px 0;
    }

    .tracks__title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .tracks-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
    }

    #breadcrumbs {
        margin: 35px 30px 50px;
    }

    .breadcrumb__container {
        padding-left: 20px;
    }
}

@media (max-width:1020px) {
    .title-container {
        padding: 72px 40px 60px;
    }

    .cards {
        gap: 10px;
    }

    .content-card {
        height: 212px;
    }

    .card-active-text {
        font-size: 15px;
    }

    .card-text {
        font-size: 15px;
    }

    #faq {
        margin-top: 280px;
        padding: 102px 140px;
    }

    .faq__title {
        font-size: 36px;
        line-height: 112%;
        margin-bottom: 20px;
    }

    .faq-question {
        margin-bottom: 2px;
        font-size: 18px;
        line-height: 200%;
    }

    .faq-answer {
        font-size: 18px;
        padding: 8px 12px;
    }
}

@media (max-width:920px) {
    .intro-title {
        font-size: 46px;
        font-weight: 700;
        line-height: 68px;
    }

    footer {
        margin-top: 90px;
    }

    .social-networks {
        margin: 20px 0 0 30px;
    }
}

@media(max-width: 865px) {
    .header__nav {
        position: fixed;
        top: 0;
        z-index: 1;
        right: -100%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255);
        transition: all 0.7s ease 0s;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
    }

    .logo__nav {
        display: block;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .logo__nav img {
        width: 70%;
    }

    .menu__icon {
        z-index: 1;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .burger__btn {
        display: block;
        border-radius: 50%;
        padding: 16px;
        background-color: #ffffff;
    }

    .burger__btn:hover {
        padding: 16px;
        border-radius: 50%;
        background-color: #E5E5E5;
    }

    .burger__btn:focus {
        outline: 2px solid #5AB0FF;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .navbar__ul {
        display: flex;
        flex-direction: column;
    }

    .nav-item {
        padding-bottom: 18px;
    }

    .header__nav::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }

    .header__nav._active {
        right: 0;
    }

    .crumb-f a {
        font-size: 16px;
    }

    .crumb a {
        font-size: 16px;
    }

    .active {
        font-size: 16px;
    }

    #content {
        padding: 0 15px;
    }

    .content__container {
        gap: 20px;
    }

    .about__section {
        gap: 24px;
        padding: 38px 15px 40px 15px;
    }

    .title__text {
        font-size: 18px;
    }

    .text-content {
        margin-bottom: 12px;
        font-size: 17px;
    }

    .diagnostik {
        font-size: 24px;
        padding: 14px 57px;
    }
}

@media (max-width:650px) {
    .breadcrumb {
        gap: 10px;
    }

    .arrow {
        margin-left: 4px;
    }

    .about__section-title {
        font-size: 17px;
        line-height: 100%;
    }

    .active-content {
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 100%;
    }

    .text-content {
        margin-bottom: 12px;
        font-size: 16px;
    }

    .about__section {
        padding: 38px 15px 20px 15px;
    }

    .title__text {
        font-size: 16px
    }

    .section__title h1 {
        font-size: 20px;
        line-height: 135%;
    }

    .cards {
        margin-top: 60px;
    }

    .content-card {
        height: 184px;
    }

    .card-active-text {
        line-height: 150%;
        font-size: 13px;
    }

    .card-text {
        line-height: 150%;
        font-size: 13px;
    }

    .diagnostik {
        font-size: 17px;
    }

    .faq__title {
        font-size: 26px;
        line-height: 105%;
    }

    #faq {
        margin-top: 180px;
        padding: 102px 30px;
    }

    .faq-question {
        font-size: 15px;
        margin-bottom: 6px;
        line-height: 180%;
    }

    .faq-answer {
        font-size: 15px;
        padding: 8px 12px;
        line-height: 24px;
    }
}

@media (max-width:550px) {
    .intro__container {
        position: static;
    }

    .intro-background {
        padding: 34px 0 0;
    }

    .title-container {
        padding: 82px 30px 0;
    }

    .intro-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 58px;
    }

    .intro-btn {
        margin-top: 74px;
        font-size: 16px;
        padding: 14px 34px;
    }

    .intro-bg img {
        width: 100%;
        height: 448px;
    }

    .section__background {
        background-size: 130% 100%;
    }

    .about__section {
        width: 30%;
    }

    .active-content {
        font-size: 13px;
    }

    .text-content {
        font-size: 13px;
    }

    .title__text {
        font-size: 13px;
    }

    .content__title-block {
        height: 220px;
    }

    .content-card {
        height: 120px;
    }

    .cards {
        gap: 8px;
    }

    .card-active-text {
        font-size: 9px;
    }

    .card-text {
        font-size: 9px;
    }

    .diagnostik {
        font-size: 14px;
        margin-top: 140px;
        padding: 14px 20px;
    }

}

@media (max-width: 450px) {
    .section__background {
        background-size: 180% 100%;
    }

    #faq {
        padding: 100px 15px;
    }

    .faq__container {
        padding: 20px 10px;
    }

    .faq__title {
        font-size: 22px;
    }

    .faq-question {
        font-size: 13px;
    }

    .faq-answer {
        font-size: 12px;
    }
}

@media (max-width:400px) {
    .intro-title {
        font-size: 28px;
        line-height: 42px;
    }

    .intro-btn {
        margin-top: 68px;
        padding: 10px 32px;
    }

    .content__title-block {
        height: 180px;
    }

    .title__text {
        font-size: 10px;
    }

    .crumb-f a,
    .crumb a,
    .active {
        font-size: 12px;
    }

    #breadcrumbs {
        margin: 30px 5px 20px;
    }

    .about__section-title {
        font-size: 12px;
        line-height: 10%;
    }

    .active-content,
    .text-content {
        font-size: 10px;
    }

    .card-active-text {
        font-size: 8px;
    }

    .about__section {
        padding: 25px 5px 20px 5px;
    }
    .diagnostik{
        font-size: 10px;
    }

}